html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-theme);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
}
/* Global constants */
:root {
  --background-theme: #21242b;
  --accent-color: white;
  --accent-active: black;
}
/* antd styles */
/* .ant-btn-primary {
  background: var(--accent-color);
  border-color: var(--accent-color);
}
.ant-btn-primary:hover {
  background: var(--accent-active);
  border-color: var(--accent-active);
} */
