html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-theme);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
}

/* Global constants */
:root {
  --background-theme: #21242b;
  --accent-color: white;
  --accent-active: black;
  --text-color: white;
}

/* antd styles */
.ant-modal-header {
  background-color: var(--background-theme);
}
.ant-modal-title {
  color: var(--text-color);
  font-size: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: unset;
  white-space: nowrap;
}
.ant-modal-footer {
  background-color: var(--background-theme);
}
